/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
#weather_data{
  text-align: center;
}
.top-image-box{
  position: relative;
}
.now-code-button{
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin: 0;
}

@media(min-width: 576px){
  .top-image-box img{
    width: 100%;
  }
}

@media(max-width: 575px){
  .cloths-image{
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
}

.suggest{
  text-align: center;
}
 
ul{
  list-style: none;
  padding-left: 0;
}
 
.cloths:after{
  content: "";
  display: block;
  clear: both;
}

@media (min-width: 768px){
  .cloth{
    float: left;
    width: 25%;
    height: 300px;
  }
  .cloth img{
  width: 100%;
  height: 300px;
  object-fit: cover;
}
}

@media (max-width: 767px) and (min-width: 415px){
  .cloth{
    float: left;
    width: 33.3333%;
    height: 200px;
  }
  .cloth img{
  width: 100%;
  height: 200px;
  object-fit: cover;
}
}

@media (max-width: 414px){
  .cloth{
    float: left;
    width: 50%;
    height: 100px;
  }
  .cloth img{
  width: 100%;
  height: 100px;
  object-fit: cover;
}
}

.tab-wrap {
  display: flex;
  flex-wrap: wrap;
  margin:20px 0;
}
.tab-wrap:after {
  content: '';
  width: 100%;
  height: 3px;
  background: DeepSkyBlue;
  display: block;
  order: -1;
}
.tab-label {
  color: White;
  background: LightGray;
  font-weight: bold;
  text-shadow: 0 -1px 0 rgba(0,0,0,.2);
  white-space: nowrap;
  text-align: center;
  padding: 10px 10px;
  order: -1;
  position: relative;
  z-index: 1;
  cursor: pointer;
  border-radius: 5px 5px 0 0;

}
.tab-label:not(:last-of-type) {
  margin-right: 5px;
}
.tab-content {
  width: 100%;
  height: 0;
  overflow: hidden;
  opacity: 0;
}
/* アクティブなタブ */
.tab-switch:checked+.tab-label {
  background: DeepSkyBlue;
}
.tab-switch:checked+.tab-label+.tab-content {
  height: auto;
  overflow: auto;
  padding: 15px;
  opacity: 1;
  transition: .5s opacity;
  box-shadow: 0 0 3px rgba(0,0,0,.2);
}
/* ラジオボタン非表示 */
.tab-switch {
  display: none;
}


.cloth-main img{
  width: 90%;
}

.follow_button, .inline-button{
  display: inline-block;
}

.post-image{
  width: 100%;
}

