/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.top-image-box{
  position: relative;
}

.now-code-button{
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin: 0;
}
 
.top-image-box img{
   width: 100%;
}
 
#weather_data{
  text-align: center;
}

.cloths{
  list-style: none;
  padding-left: 0;
}
 
.cloths:after{
  content: "";
  display: block;
  clear: both;
}

.cloth{
  float: left;
  width: 25%;
  height: 400px;
  background-color: #dbbdcc;
}

.cloth img{
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.main-content{
  margin: 0 20%;
}

.how-to-use:after{
  content: "";
  display: block;
  clear: both;
}

.step{
  float: left;
  width: 33.3333%;
}

.step img{
  width: 75%;
}
